.share-tech-mono-regular {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: "Share Tech Mono", monospace;
}

.avatar {
    width: 350px;
    height: 200px;
}

.text-info {
    margin-left: 14px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #3E4E50;
    color: #F5AC72;
    border-bottom: 15px solid #FACFAD;
    box-shadow: 15px 15px 5px;
    border: dotted 6px #F5AC72;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

